services:
    mongodb:
        build:
            context: ./database
            args:
                MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
                MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
        container_name: parafono-mongolocal
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
        volumes:
            - mongodb_data:/data/db
        restart: unless-stopped

    backend:
        build: ./backend
        container_name: parafono-backend
        ports:
            - "${BACKEND_PORT}:8000"
        environment:
            - NODE_ENV=${NODE_ENV}
            - JWT_SECRET=${JWT_SECRET}
            - MONGODB_URI=${MONGODB_URI}
            - DB_URL=${MONGODB_URI}
            - PORT=8000
        depends_on:
            - mongodb
        restart: unless-stopped

    frontend:
        build:
            context: ./frontend
            args:
                VITE_BASE_URL: ${VITE_BASE_URL}
        container_name: parafono-frontend
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./ssl:/etc/nginx/ssl:ro
        depends_on:
            - backend
        restart: unless-stopped

volumes:
    mongodb_data:
